@import "./HeaderClub";
@import "./Gestion_event";

$inputColor : #E8EFF6;

*{
    margin: 0;
    padding: 0;
    font-family: $font;
}
body{
    h2{
        font-size: 3vw;
    }
    .searchDiv{
        width: 80%;
        margin: auto;
        .triAll{
            display: flex;
            justify-content: space-between;
            width: 320px;
            float: right;
            .btnSearch{
                border-style: none;
                background-color: white;
            }
            input{
                font-size: 16px;
                padding: 5px;
                width: 260px;
            }
        }
    }

  .buttons{
    width:140px;
    margin: auto;
    #btnSupprimer{
        color:white;
        border-radius: 8px;
        border-style: none;
        padding: 10px;
        width: 140px;
        background-color: red;
        &:hover{
            color:red;
            cursor: pointer;
            background-color :rgb(189, 189, 189);
            color:$blueColor;
        }
    }
}

}
@media only screen and (max-width:1300px)
{
    body{
        .searchDiv{
        .triAll{
                width: 190px;
            input{
                width: 150px;
                font-size: 1.5vw;
                }
            }
        }
        table{       
            font-size:1.5vw;
        }
        button{
            img{
                width: 18px;
                height: 18px;
            }
        }
        .divAdd{
            .btnAdd{
                width: 140px;
                font-size: 1.5vh;
                img{
                    width: 13px;
                    height: 13px;
                }
            }
            .pagination{
                font-size: 1.5vw;
            }
        }
    }
}